*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container{
   width: 100%;
   height: 1000px;
   margin-top: 200px;
   display: flex;
   justify-content: space-evenly;
}

input{
   width: 500px;
   height: 250px;
   border: solid steelblue 5px;
}

h1{
   color: cornflowerblue;
   margin: 20px;
   margin-left: 100px;
}

button{
   border-radius: 5px;
   width: 200px;
   height: 70px;
   background-color: cornflowerblue;
}